@model Smart_Electrician_Support_System.ViewModels.JobViewModel

@{
   Model.Job_ID = ViewData["NewID"].ToString();
}

<div class="col-md-12 col-sm-12 col-lg-12">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_ID" class="control-label"></label>
                    <input asp-for="Job_ID" class="form-control" readonly />
                    <span asp-validation-for="Job_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Appo_ID" class="control-label"></label>
                    @*<input asp-for="Appo_ID" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Appo_ID, ViewData["AppList"] as SelectList, "-Select Relevant Appointment-", new { @class = "form-control" })
                    <span asp-validation-for="Appo_ID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Site_Inspected_By" class="control-label"></label>
                    @*<input asp-for="Site_Inspected_By" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Site_Inspected_By, ViewData["EmpList"] as SelectList, "-Select Inspector-", new { @class = "form-control" })
                    <span asp-validation-for="Site_Inspected_By" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Site_Inspected_Date" class="control-label"></label>
                    <input asp-for="Site_Inspected_Date" class="form-control" value="@DateTime.Today" />
                    <span asp-validation-for="Site_Inspected_Date" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Emp_Electr_ID" class="control-label"></label>
                    @*<input asp-for="Emp_Electr_ID" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Emp_Electr_ID, ViewData["ElecList"] as SelectList, "-Appointed Electician-", new { @class = "form-control" })
                    <span asp-validation-for="Emp_Electr_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="JobAssign_Time" class="control-label"></label>
                    <input asp-for="JobAssign_Time" class="form-control" value="@DateTime.Today" />
                    <span asp-validation-for="JobAssign_Time" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="JobEnd_TimeExpected" class="control-label"></label>
                    <input asp-for="JobEnd_TimeExpected" class="form-control" value="@DateTime.Today" />
                    <span asp-validation-for="JobEnd_TimeExpected" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_Subject" class="control-label"></label>
                    <input asp-for="Job_Subject" class="form-control" />
                    <span asp-validation-for="Job_Subject" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_Descr" class="control-label"></label>
                    <textarea asp-for="Job_Descr" class="form-control" placeholder="--Job Description(If any)--"></textarea>
                    <span asp-validation-for="Job_Descr" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Job_Status" class="control-label"></label>
                    <input asp-for="Job_Status" class="form-control" value="Accepted" readonly/>

                    
                    <span asp-validation-for="Job_Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="reset" value="Cancel" class="btn btn-danger btn-block" />
                </div>
            </div>
        </div>




    </form>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var counter = $('#TotalCount');

    $('#btnAdd').click(function () {
        var $div = $('div[id^="opDiv_"]:last');
        var num = parseInt($div.prop("id").match(/\d+/g), 10) + 1;
        var $clone = $div.clone();
        $clone.prop("id", "opDiv_" + num);

        //$clone.find('.dayDrop').prop('id', 'OperationalDetails[' + num + '].OperationalDay');
        //$clone.find('.dayDrop').prop('name', 'OperationalDetails[' + num + '].OperationalDay');

        //$clone.find('.timeDropStart').prop('id', 'OperationalDetails[' + num + '].StartTime');
        //$clone.find('.timeDropStart').prop('name', 'OperationalDetails[' + num + '].StartTime');

        //$clone.find('.timeDropEnd').prop('id', 'OperationalDetails[' + num + '].EndTime');
        //$clone.find('.timeDropEnd').prop('name', 'OperationalDetails[' + num + '].EndTime');

        //$clone.find('.delButton').show();
        //$clone.find('.clearButton').prop('id', 'cmd_' + num);



        $('#opHours').append($clone);

        //$('#opDiv_' + num).on('click', '.clearButton', function () {
        //    var id = this.id.substring(4);
        //    alert(id);
        //    $("#opDiv_" + id).remove();
        //});

        event.preventDefault();
    });
</script>