@model Smart_Electrician_Support_System.ViewModels.JobViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}

<h1>Details : @Model.Job_ID  : @Model.Job_Status</h1>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Job_ID)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Job_ID)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Appo_ID)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Appo_ID)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Site_Inspected_By)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Site_Inspected_By)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Site_Inspected_Date)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Site_Inspected_Date)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.JobAssign_Time)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.JobAssign_Time)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Emp_Electr_ID)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Emp_Electr_ID)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Job_Subject)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Job_Subject)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.JobEnd_Time)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.JobEnd_Time)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    Required Components
                                </dt>
                                <dd class="col">
                                    <a href="#">Click Here</a>
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>

            </div>
            <br />
            @if (Model.Job_Status == "Finished")
            {
                <div class="card bg-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h3>Job Status : @Model.Job_Status</h3></div>
                            <div class="col-8"><h3>Date Elapsed : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @ViewBag.DaysElapsed Days</h3></div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Job_Status != "Finished")
            {
                <div class="card bg-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h3>Job Status : @Model.Job_Status</h3></div>
                            <div class="col-8"><h3>Days Delayed : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @ViewBag.DateElapsed Days</h3></div>
                        </div>
                    </div>
                </div>
            }

            <br />
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><h3 class="bold text-primary">Used Products</h3></div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md col-lg col-sm col-xs-12">
                            <table class="table" id="IndexTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Product ID
                                        </th>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Job_ID
                                        </th>
                                        <th>
                                            Product Qty
                                        </th>
                                        <th>
                                            Total Cost
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UsedPrds)
                                    {
                                        <tr>
                                            <td>
                                                @item.Pr_Used_ID
                                            </td>
                                            <td>
                                                @item.PrID
                                            </td>
                                            <td>
                                                @item.PrName
                                            </td>
                                            <td>
                                                @item.Job_ID
                                            </td>
                                            <td>
                                                @item.PrQty
                                            </td>
                                            <td>
                                                @item.TotCost
                                            </td>
                                            <td>
                                                @item.Status
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <input type="button" name="Invoice" value="Generate Invoice" class="btn btn-block btn-primary"/>
        </div>
        <div class="col">
            <input type="button" name="JobReport" value="Generate Job Report" class="btn btn-block btn-success" />
        </div>
    </div>
</div>









<div class="container-fluid mt-3">
    <div class="row">

        <a asp-action="Edit" asp-route-id="@Model.Job_ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<br />
<br />