@model Smart_Electrician_Support_System.Models.JobModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>JobModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appo_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appo_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site_Inspected_By)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site_Inspected_By)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site_Inspected_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site_Inspected_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Electr_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Electr_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobAssign_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobAssign_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobEnd_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobEnd_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Descr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Descr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Req_Components)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Req_Components)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Job_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
