@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model Smart_Electrician_Support_System.ViewModels.JobViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Details : @Model.Job_ID  : @Model.Job_Status</h1>

        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    @if (Model.Job_Status == "Finished")
                    {
                        <a asp-action="Invoice" asp-controller="Report" asp-route-id="@Model.Job_ID" name="Invoice" class="btn btn-block btn-primary">Generate Invoice <br /> <i class="fas fa-folder-open"></i></a>
                    }
                    else
                    {
                        <a href="#" name="Invoice" class="btn btn-block btn-primary disabled">Job Not Completed <br /> <i class="fas fa-folder-open"></i> </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />









<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Job_ID)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Job_ID)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Appo_ID)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Appo_ID)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Site_Inspected_By)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Site_Inspected_By)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Site_Inspected_Date)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Site_Inspected_Date)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.JobAssign_Time)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.JobAssign_Time)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Emp_Electr_ID)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Emp_Electr_ID)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.Job_Subject)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Job_Subject)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    @Html.DisplayNameFor(model => model.JobEnd_Time)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.JobEnd_Time)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="col text-primary">
                                    Required Components
                                </dt>
                                <dd class="col">
                                    @if (Model.Job_Status == "Finished" || Model.Job_Status == "Closed" || Model.Job_Status == "Terminated")
                                    {
                                        <a href="#" class="disabled"> Job Finished/Closed</a>

                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-controller="UsedProducts"> Add More Products</a>
                                    }
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>

            </div>
            <br />
            @if (Model.Job_Status == "Finished")
            {
                <div class="card bg-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h3>Job Status : @Model.Job_Status</h3></div>
                            <div class="col-8"><h3>Date Elapsed : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @ViewBag.DaysElapsed Days</h3></div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Job_Status != "Finished")
            {
                <div class="card bg-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5"><h3>Job Status : @Model.Job_Status</h3></div>
                            <div class="col-5"><h3>Days Delayed : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @ViewBag.DateElapsed Days</h3></div>
                            <div class="col"><button class="btn  btn-primary btn-block" data-toggle="modal" data-target="#FinishModal">Finish the Job <i class="fas fa-check-circle"></i></button></div>
                        </div>
                    </div>
                </div>


                <!-- Logout Modal-->
                <div class="modal fade" id="FinishModal" tabindex="-1" role="dialog" aria-labelledby="FinishModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="col-lg-12">
                            <form asp-action="FinishJob" asp-controller="Job" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ready to Finish?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Job_ID" class="control-label"></label>
                                                <input asp-for="Job_ID" class="form-control" value="@Model.Job_ID" readonly />
                                                <span asp-validation-for="Job_ID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="JobEnd_Time" class="control-label"></label>
                                                <input asp-for="JobEnd_Time" class="form-control" value="@DateTime.Now.ToString()" />
                                                <span asp-validation-for="JobEnd_Time" class="text-danger"></span>
                                            </div>
                                        </div>
                                        @*Select "Finish" below if you are ready to end your current Job.*@
                                        @*<input type="datetime" name="EndDT" class="input" value="@DateTime.Now.ToString()" />*@
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <input type="submit" name="submit" class="btn btn-primary" value="Finish" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }

            <br />
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><h3 class="bold text-primary">Used Products</h3></div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md col-lg col-sm col-xs-12">
                            <table class="table" id="IndexTable2">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Product ID
                                        </th>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Job_ID
                                        </th>
                                        <th>
                                            Product Qty
                                        </th>
                                        <th>
                                            Total Cost
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UsedPrds)
                                    {
                                        <tr>
                                            <td>
                                                @item.Pr_Used_ID
                                            </td>
                                            <td>
                                                @item.PrID
                                            </td>
                                            <td>
                                                @item.PrName
                                            </td>
                                            <td>
                                                @item.Job_ID
                                            </td>
                                            <td>
                                                @item.PrQty
                                            </td>
                                            <td>
                                                @item.TotCost
                                            </td>
                                            <td>
                                                @item.Status
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

    </div>
</div>









<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            @if (HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Admin" || HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Manager")
            {
                <a asp-action="Edit" asp-route-id="@Model.Job_ID" class="btn btn-primary btn-block">Edit</a>

            }
            else
            {
                <a asp-action="Edit" asp-route-id="@Model.Job_ID" class="btn btn-primary btn-block disabled">Edit</a>
            }
        </div>
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
        </div>
    </div>
</div>

<br />
<br />