@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Smart_Electrician_Support_System.ViewModels.JobViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";

}

<div class="card">
    <div class="card-header">
        <h1>Manage Jobs</h1>
    </div>
    <div class="card-body">
        <div class="row">
            @if (HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") != "Electrician")
            {
                @await Html.PartialAsync("CreatePartial", new Smart_Electrician_Support_System.ViewModels.JobViewModel())
            }
        </div>

        @if (HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Electrician")
        {
            <h2>Pending Jobs</h2>
            <div class="row">
                <div class="col-md col-lg col-sm col-xs-12">
                    <table class="table" id="IndexTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Site_Inspected_By)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Site_Inspected_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Emp_Electr_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobAssign_Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobEnd_Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Descr)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobEnd_TimeExpected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Status)
                                </th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Job_Status != "Finished")
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Site_Inspected_By)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Site_Inspected_Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Emp_Electr_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobAssign_Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobEnd_Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_Descr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobEnd_TimeExpected)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_Status)
                                        </td>
                                        <td>

                                            @if (HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Electrician")
                                            {
                                                <a asp-action="Details" asp-route-id="@item.Job_ID" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-check"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Job_ID"><i class="fas fa-edit"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Job_ID"><i class="fas fa-info-circle"></i></a>
                                                <a onclick="ConfirmDelete('@item.Job_ID')" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <h2>Completed Jobs</h2>
            <div class="row">
                <div class="col-md col-lg col-sm col-xs-12">
                    <table class="table" id="IndexTable2">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Site_Inspected_By)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Site_Inspected_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Emp_Electr_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobAssign_Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobEnd_Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Descr)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobEnd_TimeExpected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Status)
                                </th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Job_Status=="Finished")
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Site_Inspected_By)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Site_Inspected_Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Emp_Electr_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobAssign_Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobEnd_Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_Descr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobEnd_TimeExpected)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job_Status)
                                        </td>
                                        <td>

                                            @if (HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Electrician")
                                            {
                                                <a asp-action="Details" asp-route-id="@item.Job_ID" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-check"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Job_ID" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Job_ID" class="btn btn-secondary btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                                                <a onclick="ConfirmDelete('@item.Job_ID')" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                                
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md col-lg col-sm col-xs-12">
                    <table class="table" id="IndexTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_ID)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.Site_Inspected_By)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Site_Inspected_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Emp_Electr_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobAssign_Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobEnd_Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobEnd_TimeExpected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Job_Status)
                                </th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Job_ID)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Site_Inspected_By)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Site_Inspected_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Emp_Electr_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobAssign_Time)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobEnd_Time)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Job_Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobEnd_TimeExpected)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Job_Status)
                                    </td>
                                    <td>
                                        <div class="row">
                                            <a asp-action="Edit" asp-route-id="@item.Job_ID" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Job_ID" class="btn btn-secondary btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                                            <a onclick="ConfirmDelete('@item.Job_ID')" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>


    $(document).ready(function () {
        var table = $('#IndexTable').DataTable({
            responsive: true
        });

        new $.fn.dataTable.FixedHeader(table);
    });


    function ConfirmDelete(e) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Job/Delete",
                    data: { id: e },
                    success: function (result) {
                        if (result == "Success") {
                            swalWithBootstrapButtons.fire(
                                'Success',
                                'Your Data is Deleted :)',
                                'Success'
                            ).then((res) => {
                                if (res.isConfirmed) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            swalWithBootstrapButtons.fire(
                                'Error',
                                'Your Data is safe :)',
                                'error'
                            )
                        }
                    }
                })

            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your data is safe :)',
                    'error'
                )
            }
        })
    }
</script>

