@model IEnumerable<Smart_Electrician_Support_System.ViewModels.CustomerViewModel>
@{
    ViewData["Title"] = "CustomerReport";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Report</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron-fluid" style="text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:larger">
        <h1 class="text-center">Customer Report</h1>
        <h4 class="text-center">All Customer details from the beginning</h4>
        <h5 class="text-center">Smart Electrician System </h5>
        <h6 class="text-center" id="para1"></h6>
    </div>
    <br />
    <h4 style="font-weight:bold; margin-bottom:2%;">Customer Statistics</h4>
    <div>
        <hr style="height:1px;background-color:#cccccc;border:none; margin-top:1%; margin-bottom:1%; " noshade />
        <h5>Total Number of Customers = <em style="color:crimson; font-style: normal;"> @Model.Count() </em></h5>
        <hr style="height:1px;background-color:#cccccc;border:none; margin-top:1%; margin-bottom:1%; " noshade />
        <h5>Total Number of Active Customers = <em style="color:crimson; font-style: normal;"> @Model.Where(m => m.CusStatus == "Active").Count() </em></h5>
        <hr style="height:1px;background-color:#cccccc;border:none; margin-top:1%; margin-bottom:1%; " noshade />
        <h5>Total Number of Inactive Customers = <em style="color:crimson; font-style: normal;"> @Model.Where(m => m.CusStatus == "Inactive").Count() </em></h5>
        <hr style="height:1px;background-color:#cccccc;border:none; margin-top:1%; margin-bottom:1%; " noshade />
    </div>
    <h4 style="font-weight:bold;margin-top:5%; margin-bottom:2%; ">All Customer Records</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CusfName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CuslName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusNIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusGender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusContact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusPassw)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CusStatus)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CusfName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuslName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusNIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusPassw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusStatus)
                </td>
            </tr>
            }
        </tbody>
    </table>

</body>
</html>