@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Smart_Electrician_Support_System.ViewModels.UsedProductsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagementDashboardLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h1>Manage Used Products</h1>
    </div>
    <div class="card-body">
        <div class="row">
            @await Html.PartialAsync("CreatePartial", new Smart_Electrician_Support_System.ViewModels.UsedProductsViewModel())
        </div>
        <hr />
        <div class="row">
            <div class="col-md col-lg col-sm col-xs-12">
                <table class="table" id="IndexTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Job_ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrQty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Job" asp-route-id="@item.Job_ID"> @Html.DisplayFor(modelItem => item.Job_ID)</a>
                                   
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotCost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Admin" || HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Manager")
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Pr_Used_ID" class="btn btn-primary btn-circle btn-sm">&nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;&nbsp;</a>
                                        <a asp-action="Details" asp-route-id="@item.Pr_Used_ID" class="btn btn-secondary btn-circle btn-sm">&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;</a>
                                        <a onclick="ConfirmDelete('@item.Pr_Used_ID')" class="btn btn-danger btn-circle btn-sm">&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-route-id="@item.Pr_Used_ID"><i class="fas fa-info-circle"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script>



    $(document).ready(function () {
        var table = $('#IndexTable').DataTable({
            responsive: true
        });

        new $.fn.dataTable.FixedHeader(table);
    });


    function ConfirmDelete(e) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/UsedProducts/Delete",
                    data: { id: e },
                    success: function (result) {
                        if (result == "Success") {
                            swalWithBootstrapButtons.fire(
                                'Success',
                                'Your Data is Deleted :)',
                                'Success'
                            ).then((res) => {
                                if (res.isConfirmed) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            swalWithBootstrapButtons.fire(
                                'Error',
                                'Your Data is safe :)',
                                'error'
                            )
                        }
                    }
                })

            }
            else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your data is safe :)',
                    'error'
                )
            }
        })
    }
</script>
